@media screen and (max-width : 768px) {
	.collapsed {
		height: 64px;
		.burger-button {
			top: 23px;
			left: 16px;
			display: block;
			.burger-part {
				border: 2px solid #000;
				height: 10px;
				border-left: 0;
				border-right: 0;
				&:last-child {
					border-top: 0;
					height: 8px;
				}
			}
		}
		.logo-box {
			padding: 5px 0;
			width: 100%;
			.image-box {
				display: block;
				text-align: center;
			}
			span {
				display: none;
				text-align: center;
				margin: 8px 0 0;
				transition: $t;
			}
		}
		ul {
			float: none;
			margin-top: 10px;
			line-height: 20px;
			position: relative;
			text-align: center;
			display: none;
			transition: $t;
			li {
				text-align: center;
				margin: 0 10px;
				&:last-child {
					margin-right: 10px;
				}
			}
		}
	}
	.expanded {
		height: 135px;
		.logo-box {
			span {
				display: block;
			}
		}
		ul {
			display: block;
		}
	}
	.popup-body {
		.popup-box {
			width: 480px;
		}
	}
	.top {
		padding-top: 64px;
	}
	.carousel-caption {
		bottom: 15%;
		p {
			width: 330px;
			font-size: 12px;
			margin: 0 auto 14px;
			&:first-child {
				font-size: 30px;
				margin: 4px auto 0;
			}
		}
	}
	#carouselExampleControls {
		.container {
			max-width: 660px;
			.frame {
				width: 100%;
			}
		}
	}
	h2 {
		&::after {
			left: 47%;
		}
	}
	.maintext {
		width: 98%;
	}
	article {
		margin-bottom: 70px;
	}
}
@media screen and (max-width : 480px) {
	.collapsed {
		.burger-button {
			width: 15px;
			height: 13px;
			top: 24px;
			.burger-part {
				border: 1px solid #000;
				height: 7px;
				border-left: 0;
				border-right: 0;
				&:last-child {
					height: 6px;
				}
			}
		}
		.logo-box {
			span {
				margin: 12px 0 0;
			}
		}
		.cross-button {
			font-size: 38px;
			top: 4px;
		}
		ul {
			margin-top: 80px;
			line-height: 40px;
			li {
				display: block;
			}
		}
	}
	.expanded {
		height: 100vh;
		.image-box {
			img {
				display: none;
			}
		}
	}
	.popup-body {
		.popup-box {
			width: 100%;
			.popup-content {
				form {
					input {
						width: 94%;
					}
				}
			}
		}
	}
	.top {
		.carousel-item {
			overflow: hidden;
			img {
				min-height: 460px;
				min-width: 818px;
				position: relative;
				left: -70vw;
			}
		}
	}
	.carousel-caption {
		p {
			width: 230px;
			&:first-child {
				font-size: 25px;
				margin: 34px auto 0;
			}
		}
		.popup-button {
			font-size: 16px;
		}
	}
	h2 {
		&::after {
			left: 46.5%;
		}
	}
	.rowmini {
		img {
			max-width: 99% !important;
			flex: 0 0 99.99% !important;
			display: none;
		}
	}
	#carouselExampleControls {
		.carousel-item:first-child {
				.rowmini {
					img:first-child {
					display: block;
				}
			}
		}
		.carousel-item:nth-child(2) {
				.rowmini {
					img:nth-child(2) {
					display: block;
				}
			}
		}
		.carousel-item:last-child {
				.rowmini {
					img:last-child {
					display: block;
				}
			}
		}
		.tablet-buttons {
			margin-bottom: 20px;
		}
	}
	section {
		color: #000;
		h3 {
			font-size: 14px;
			margin: 35px 0;
		}
		p {
			font-size: 14px;
		}
	}
}
@media screen and (max-width: 320px) {
	.carousel-caption {
		right: 10%;
		left: 10%;
		bottom: 25%;
		p {
			width: 215px;
		}
	}
	.buttonside {
		display: none;
	}
	h2 {
		&::after {
			left: 45%;
		}
	}
}