@media screen and (min-width: 768px) and (max-width : 1023px) {
	.top {
		padding-top: 80px;
	}
	h2 {
		&::after {
			left: 48.7%;
		}
	}
	.carousel-caption {
		bottom: 20%;
		p {
			&:first-child {
				margin: 290px auto 0;
				font-size: 45px;
			}
		}
	}
	.frame {
		width: 100%;
	}
	#carouselExampleControls {
		.buttonside {
			display: none;
		}
		.tablet-buttons {
			display: block;
			// position: relative;
			// margin-bottom: 50px;
			// text-align: center;
			// .centered-buttons {
			// 	width: 140px;
			// 	display: inline-block;
			// 	min-height: 23px;
			// 	position: relative;
			// 	margin-top: 35px;
			// 	.buttonside-t {
			// 		width: 50px;
			// 		height: 50px;
			// 		position: static;
			// 		border-radius: 50%;
			// 		transition: $t;
			// 		border: 1px solid #646464;
			// 		opacity: 1;
			// 		span {
			// 			color: #646464;
			// 		}
			// 		&:hover {
			// 			background-color: #646464;
			// 			opacity: 1;
			// 		}
			// 		&:hover > span {
			// 			color: #fff;
			// 		}
			// 	}
			// 	.carousel-control-prev {
			// 		float: left;
			// 	}
			// 	.carousel-control-next {
			// 		float: right;
			// 	}
			// }
		}
	}
	.maintext {
		width: 670px;
	}
}