@media screen and (max-width : 1024px) {
	.popup-body {
		.popup-box {
			.popup-content {
				p {
					padding-top: 40px;
					margin-bottom: 45px;
				}
				form {
					display: block;
					margin-top: 45px;
				}
				button {
					display: none;
				}
			}
		}
	}
	.top {
		padding-top: 80px;
	}
	h2 {
		&::after {
			left: 48.7%;
		}
	}
	.carousel-caption {
		bottom: 20%;
		p {
			&:first-child {
				margin: 290px auto 0;
				font-size: 45px;
			}
		}
	}
	.frame {
		width: 100%;
	}
	#carouselExampleControls {
		.buttonside {
			display: none;
		}
		.tablet-buttons {
			display: block;
		}
	}
	.maintext {
		width: 670px;
	}
}