@media screen and (max-width : 1024px) {
	.top {
		padding-top: 80px;
	}
	h2 {
		&::after {
			left: 48.3%;
		}
	}
	.carousel-caption {
		bottom: 20%;
		p {
			&:first-child {
				margin: 290px auto 0;
				font-size: 45px;
			}
		}
	}
	.frame {
		width: 100%;
	}
	#carouselExampleControls {
		.buttonside {
			display: none;
		}
		.tablet-buttons {
			display: block;
		}
	}
	.maintext {
		width: 670px;
	}
}