* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "GothamProRegular", sans-serif; }

@font-face {
  font-family: "GothamProRegular";
  src: url("../fonts/GothamProRegular/GothamProRegular.eot");
  src: url("../fonts/GothamProRegular/GothamProRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProRegular/GothamProRegular.woff") format("woff"), url("../fonts/GothamProRegular/GothamProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "GothamProBold";
  src: url("../fonts/GothamProBold/GothamProBold.eot");
  src: url("../fonts/GothamProBold/GothamProBold.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProBold/GothamProBold.woff") format("woff"), url("../fonts/GothamProBold/GothamProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
nav {
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 30;
  background-color: #fff;
  -webkit-transition: all ease 0.7s;
  transition: all ease 0.7s; }
  nav .logo-box {
    display: inline-block;
    padding: 13px 0;
    position: relative; }
    nav .logo-box .image-box {
      display: inline-block; }
      nav .logo-box .image-box img {
        width: 68px; }
    nav .logo-box span {
      text-transform: uppercase;
      font-family: "GothamProBold", sans-serif;
      font-size: 18px;
      color: #646464;
      margin-left: 25px;
      position: relative;
      top: 2px; }
  nav .cross-button {
    position: absolute;
    font-size: 44px;
    top: 20px;
    right: -136px;
    z-index: 15;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    cursor: pointer;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
            animation-duration: 1s; }
  nav ul {
    float: right;
    font-size: 0;
    line-height: 80px;
    margin-bottom: 0; }
    nav ul li {
      list-style-type: none;
      display: inline-block;
      font-weight: normal;
      margin: 0 11px; }
      nav ul li:last-child {
        margin-right: 0; }
      nav ul li a {
        font-size: 14px;
        text-transform: uppercase;
        color: #646464; }
        nav ul li a:hover {
          text-decoration: none;
          color: #545ad8; }
  nav .burger-button {
    width: 18px;
    height: 18px;
    position: absolute;
    z-index: 15;
    top: 23px;
    left: -136px;
    cursor: pointer;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
            animation-duration: 1s; }

.top .carousel-item {
  background-color: #000; }
  .top .carousel-item img {
    opacity: 0.5; }

.sect {
  position: relative; }

.carousel-caption {
  bottom: 26%;
  text-transform: uppercase; }
  .carousel-caption p {
    width: 400px;
    font-size: 14px;
    margin: 0 auto 34px; }
    .carousel-caption p:first-child {
      font-family: "GothamProBold", sans-serif;
      font-size: 75px;
      width: 100%;
      margin: 0 auto; }
  .carousel-caption .popup {
    margin: 0 auto;
    width: 170px;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 18px;
    font-family: "GothamProBold", sans-serif;
    font-size: 16px;
    color: #fff;
    background-color: #646464;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    line-height: 50px; }
    .carousel-caption .popup:focus {
      outline: none; }

.buttonside {
  width: 50px;
  height: 50px;
  position: absolute;
  border: 1px solid #fff;
  border-radius: 50%;
  top: 47%;
  opacity: 1;
  -webkit-transition: all ease 0.7s;
  transition: all ease 0.7s; }
  .buttonside:hover {
    background-color: #fff;
    opacity: 1; }
  .buttonside:hover > span {
    color: #000;
    -webkit-transition: all ease 0.7s;
    transition: all ease 0.7s; }

.carousel-control-prev {
  left: 6%; }
  .carousel-control-prev span {
    -webkit-transform: scale(2.4, 1.8) translate(-1px, 1px);
            transform: scale(2.4, 1.8) translate(-1px, 1px); }

.carousel-control-next {
  right: 6%; }
  .carousel-control-next span {
    -webkit-transform: scale(2.4, 1.8) translate(1px, 1px);
            transform: scale(2.4, 1.8) translate(1px, 1px); }

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  opacity: 1;
  cursor: pointer;
  border: 1px solid #fff;
  background-color: #fff; }
  .carousel-indicators li.active {
    background-color: #646464; }

#carouselExampleControls .buttonside {
  border: 1px solid #646464;
  border-radius: 50%;
  top: 47%;
  opacity: 1; }
  #carouselExampleControls .buttonside span {
    color: #646464; }
  #carouselExampleControls .buttonside:hover {
    background-color: #646464;
    opacity: 1; }
  #carouselExampleControls .buttonside:hover > span {
    color: #fff; }
#carouselExampleControls .tablet-buttons {
  display: none;
  position: relative;
  margin-bottom: 50px;
  text-align: center; }
  #carouselExampleControls .tablet-buttons .centered-buttons {
    width: 140px;
    display: inline-block;
    min-height: 23px;
    position: relative;
    margin-top: 35px; }
    #carouselExampleControls .tablet-buttons .centered-buttons .buttonside-t {
      width: 50px;
      height: 50px;
      position: static;
      border-radius: 50%;
      -webkit-transition: all ease 0.7s;
      transition: all ease 0.7s;
      border: 1px solid #646464;
      opacity: 1; }
      #carouselExampleControls .tablet-buttons .centered-buttons .buttonside-t span {
        color: #646464; }
      #carouselExampleControls .tablet-buttons .centered-buttons .buttonside-t:hover {
        background-color: #646464;
        opacity: 1; }
      #carouselExampleControls .tablet-buttons .centered-buttons .buttonside-t:hover > span {
        color: #fff; }
    #carouselExampleControls .tablet-buttons .centered-buttons .carousel-control-prev {
      float: left; }
    #carouselExampleControls .tablet-buttons .centered-buttons .carousel-control-next {
      float: right; }

h2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  font-family: "GothamProBold", sans-serif;
  font-size: 24px;
  color: #646464;
  margin: 40px 0 32px;
  position: relative; }
  h2::after {
    content: '';
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #646464;
    bottom: -5px;
    left: 49%; }

.frame {
  width: 82%;
  margin: 0 auto; }
  .frame .rowmini img {
    height: 17%; }
  .frame .row .colbox {
    color: #646464;
    margin-bottom: 30px; }
    .frame .row .colbox p:first-child {
      font-family: "GothamProBold", sans-serif;
      font-size: 18px;
      margin-bottom: 20px; }

.maintext {
  width: 725px;
  margin: 0 auto; }

article {
  margin-bottom: 110px; }

section {
  color: #646464; }
  section h3 {
    font-family: "GothamProBold", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    margin: 40px 0; }
  section p {
    font-size: 16px; }
    section p strong {
      font-family: "GothamProBold", sans-serif;
      color: #000; }
    section p a:hover {
      color: #545ad8; }
    section p .underlined {
      text-decoration: underline; }

@-webkit-keyframes hideBurger {
  0% {
    -webkit-transform: skew(0deg);
            transform: skew(0deg); }
  5% {
    -webkit-transform: skew(-45deg);
            transform: skew(-45deg); }
  100% {
    left: -136px; } }

@keyframes hideBurger {
  0% {
    -webkit-transform: skew(0deg);
            transform: skew(0deg); }
  5% {
    -webkit-transform: skew(-45deg);
            transform: skew(-45deg); }
  100% {
    left: -136px; } }
@-webkit-keyframes showCross {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  100% {
    -webkit-transform: rotate(-495deg);
            transform: rotate(-495deg);
    right: 16px; } }
@keyframes showCross {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  100% {
    -webkit-transform: rotate(-495deg);
            transform: rotate(-495deg);
    right: 16px; } }
@-webkit-keyframes showBurger {
  0% {
    left: -136px; }
  67% {
    left: -36px;
    -webkit-transform: skew(-45deg);
            transform: skew(-45deg); }
  100% {
    left: 16px;
    -webkit-transform: skew(0deg);
            transform: skew(0deg); } }
@keyframes showBurger {
  0% {
    left: -136px; }
  67% {
    left: -36px;
    -webkit-transform: skew(-45deg);
            transform: skew(-45deg); }
  100% {
    left: 16px;
    -webkit-transform: skew(0deg);
            transform: skew(0deg); } }
@-webkit-keyframes hideCross {
  0% {
    -webkit-transform: rotate(-495deg);
            transform: rotate(-495deg);
    right: 16px; }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    right: -136px; } }
@keyframes hideCross {
  0% {
    -webkit-transform: rotate(-495deg);
            transform: rotate(-495deg);
    right: 16px; }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    right: -136px; } }
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .top {
    padding-top: 80px; }

  h2::after {
    left: 48.7%; }

  .carousel-caption {
    bottom: 20%; }
    .carousel-caption p:first-child {
      margin: 290px auto 0;
      font-size: 45px; }

  .frame {
    width: 100%; }

  #carouselExampleControls .buttonside {
    display: none; }
  #carouselExampleControls .tablet-buttons {
    display: block; }

  .maintext {
    width: 670px; } }
@media screen and (min-width: 481px) and (max-width: 767px) {
  nav {
    height: 64px;
    width: 100%; }
    nav .burger-button {
      width: 18px;
      height: 18px;
      top: 23px;
      left: 16px;
      display: block; }
      nav .burger-button .burger-part {
        border: 2px solid #000;
        height: 10px;
        border-left: 0;
        border-right: 0; }
        nav .burger-button .burger-part:last-child {
          border-top: 0;
          height: 8px; }
    nav .logo-box {
      padding: 5px 0;
      width: 100%; }
      nav .logo-box .image-box {
        display: block;
        text-align: center; }
      nav .logo-box span {
        display: none;
        text-align: center;
        margin: 8px 0 0;
        -webkit-transition: all ease 0.7s;
        transition: all ease 0.7s; }
    nav ul {
      float: none;
      margin-top: 10px;
      line-height: 20px;
      position: relative;
      text-align: center;
      display: none;
      -webkit-transition: all ease 0.7s;
      transition: all ease 0.7s; }
      nav ul li {
        text-align: center;
        margin: 0 10px; }
        nav ul li:last-child {
          margin-right: 10px; }

  .top {
    padding-top: 64px; }

  .carousel-caption {
    bottom: 15%; }
    .carousel-caption p {
      width: 330px;
      font-size: 12px;
      margin: 0 auto 14px; }
      .carousel-caption p:first-child {
        font-size: 30px;
        margin: 4px auto 0; }

  #carouselExampleControls .container {
    max-width: 660px; }
    #carouselExampleControls .container .frame {
      width: 100%; }
  #carouselExampleControls .buttonside {
    display: none; }
  #carouselExampleControls .tablet-buttons {
    display: block; }

  h2::after {
    left: 48%; }

  .maintext {
    width: 98%; }

  article {
    margin-bottom: 70px; } }
@media screen and (min-width: 321px) and (max-width: 480px) {
  nav {
    height: 64px; }
    nav .burger-button {
      width: 15px;
      height: 13px;
      top: 24px;
      left: 16px;
      display: block; }
      nav .burger-button .burger-part {
        border: 1px solid #000;
        height: 7px;
        border-left: 0;
        border-right: 0; }
        nav .burger-button .burger-part:last-child {
          border-top: 0;
          height: 6px; }
    nav .logo-box {
      padding: 5px 0;
      width: 100%; }
      nav .logo-box .image-box {
        display: block;
        text-align: center; }
      nav .logo-box span {
        display: none;
        text-align: center;
        margin: 12px 0 0;
        -webkit-transition: all ease 0.7s;
        transition: all ease 0.7s; }
    nav .cross-button {
      font-size: 38px;
      top: 4px; }
    nav ul {
      float: none;
      margin-top: 80px;
      line-height: 40px;
      position: relative;
      text-align: center;
      display: none;
      -webkit-transition: all ease 0.7s;
      transition: all ease 0.7s; }
      nav ul li {
        text-align: center;
        margin: 0 10px; }
        nav ul li:last-child {
          margin-right: 10px; }

  .top {
    padding-top: 64px; }
    .top .carousel-item {
      overflow: hidden; }
      .top .carousel-item img {
        min-height: 460px;
        min-width: 818px;
        position: relative;
        left: -70vw; }

  .carousel-caption {
    bottom: 15%; }
    .carousel-caption p {
      width: 230px;
      font-size: 12px;
      margin: 0 auto 14px; }
      .carousel-caption p:first-child {
        font-size: 25px;
        margin: 34px auto 0; }
    .carousel-caption .popup {
      font-size: 16px; }

  #carouselExampleControls .buttonside {
    display: none; }
  #carouselExampleControls .tablet-buttons {
    display: block; }

  h2::after {
    left: 45%; }

  .rowmini img {
    max-width: 99% !important;
    display: none; }

  #carouselExampleControls .carousel-item:first-child .rowmini img:first-child {
    display: block; }
  #carouselExampleControls .carousel-item:nth-child(2) .rowmini img:nth-child(2) {
    display: block; }
  #carouselExampleControls .carousel-item:last-child .rowmini img:last-child {
    display: block; }
  #carouselExampleControls .tablet-buttons {
    margin-bottom: 20px; }

  .maintext {
    width: 98%; }

  .articles {
    margin-bottom: 70px; }

  section {
    color: #000; }
    section h3 {
      font-size: 14px;
      margin: 35px 0; }
    section p {
      font-size: 14px; } }
@media screen and (max-width: 320px) {
  nav {
    height: 64px; }
    nav .burger-button {
      width: 15px;
      height: 13px;
      top: 24px;
      left: 16px;
      display: block; }
      nav .burger-button .burger-part {
        border: 1px solid #000;
        height: 7px;
        border-left: 0;
        border-right: 0; }
        nav .burger-button .burger-part:last-child {
          border-top: 0;
          height: 6px; }
    nav .logo-box {
      padding: 5px 0;
      width: 100%; }
      nav .logo-box .image-box {
        display: block;
        text-align: center; }
      nav .logo-box span {
        display: none;
        text-align: center;
        margin: 12px 0 0;
        -webkit-transition: all ease 0.7s;
        transition: all ease 0.7s; }
    nav .cross-button {
      font-size: 38px;
      top: 4px; }
    nav ul {
      float: none;
      margin-top: 80px;
      line-height: 40px;
      position: relative;
      text-align: center;
      display: none;
      -webkit-transition: all ease 0.7s;
      transition: all ease 0.7s; }
      nav ul li {
        text-align: center;
        margin: 0 10px; }
        nav ul li:last-child {
          margin-right: 10px; }

  .top {
    padding-top: 64px; }
    .top .carousel-item {
      overflow: hidden; }
      .top .carousel-item img {
        min-height: 460px;
        min-width: 818px;
        position: relative;
        left: -70vw; }

  .carousel-caption {
    right: 10%;
    left: 10%;
    bottom: 25%; }
    .carousel-caption p {
      width: 215px;
      font-size: 12px;
      margin: 0 auto 14px; }
      .carousel-caption p:first-child {
        font-size: 25px;
        margin: 34px auto 0; }
    .carousel-caption .popup {
      font-size: 16px; }

  .buttonside {
    display: none; }

  h2::after {
    left: 44%; }

  .rowmini img {
    max-width: 99% !important;
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 99.99% !important;
            flex: 0 0 99.99% !important;
    display: none; }

  #carouselExampleControls .carousel-item:first-child .rowmini img:first-child {
    display: block; }
  #carouselExampleControls .carousel-item:nth-child(2) .rowmini img:nth-child(2) {
    display: block; }
  #carouselExampleControls .carousel-item:last-child .rowmini img:last-child {
    display: block; }
  #carouselExampleControls .tablet-buttons {
    margin-bottom: 20px; }

  .maintext {
    width: 98%; }

  .articles {
    margin-bottom: 70px; }

  section {
    color: #000; }
    section h3 {
      font-size: 14px;
      margin: 35px 0; }
    section p {
      font-size: 14px; } }
