/* line 1, style.scss */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "GothamProRegular", sans-serif;
}

@font-face {
  font-family: "GothamProRegular";
  src: url("../fonts/GothamProRegular/GothamProRegular.eot");
  src: url("../fonts/GothamProRegular/GothamProRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProRegular/GothamProRegular.woff") format("woff"), url("../fonts/GothamProRegular/GothamProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "GothamProBold";
  src: url("../fonts/GothamProBold/GothamProBold.eot");
  src: url("../fonts/GothamProBold/GothamProBold.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProBold/GothamProBold.woff") format("woff"), url("../fonts/GothamProBold/GothamProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* line 27, style.scss */
nav {
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 30;
  background-color: #fff;
  -webkit-transition: all ease 0.7s;
  transition: all ease 0.7s;
}
/* line 34, style.scss */
nav .logo-box {
  display: inline-block;
  padding: 13px 0;
  position: relative;
}
/* line 38, style.scss */
nav .logo-box .image-box {
  display: inline-block;
}
/* line 40, style.scss */
nav .logo-box .image-box img {
  width: 68px;
}
/* line 44, style.scss */
nav .logo-box span {
  text-transform: uppercase;
  font-family: "GothamProBold", sans-serif;
  font-size: 18px;
  color: #646464;
  margin-left: 25px;
  position: relative;
  top: 2px;
}
/* line 54, style.scss */
nav .cross-button {
  position: absolute;
  font-size: 44px;
  top: 20px;
  right: -136px;
  z-index: 15;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  cursor: pointer;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
/* line 65, style.scss */
nav ul {
  float: right;
  font-size: 0;
  line-height: 80px;
  margin-bottom: 0;
}
/* line 70, style.scss */
nav ul li {
  list-style-type: none;
  display: inline-block;
  font-weight: normal;
  margin: 0 11px;
}
/* line 75, style.scss */
nav ul li:last-child {
  margin-right: 0;
}
/* line 78, style.scss */
nav ul li a {
  font-size: 14px;
  text-transform: uppercase;
  color: #646464;
}
/* line 82, style.scss */
nav ul li a:hover {
  text-decoration: none;
  color: #545ad8;
}
/* line 89, style.scss */
nav .burger-button {
  width: 18px;
  height: 18px;
  position: absolute;
  z-index: 15;
  top: 23px;
  left: -136px;
  cursor: pointer;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

/* line 101, style.scss */
.popup-body {
  display: none;
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
/* line 110, style.scss */
.popup-body .popup-box {
  width: 570px;
  height: 330px;
  margin: 12% auto 0;
  background-color: #fff;
  position: relative;
  z-index: 110;
}
/* line 117, style.scss */
.popup-body .popup-box .popup-content {
  position: relative;
}
/* line 119, style.scss */
.popup-body .popup-box .popup-content p {
  font-family: "GothamProBold", sans-serif;
  font-size: 18px;
  color: #646464;
  text-align: center;
  padding-top: 105px;
  margin-bottom: 50px;
}
/* line 127, style.scss */
.popup-body .popup-box .popup-content form {
  display: none;
  text-align: center;
}
/* line 130, style.scss */
.popup-body .popup-box .popup-content form input {
  display: block;
  width: 300px;
  height: 50px;
  border: 1px solid #646464;
  border-radius: 8px;
}
/* line 136, style.scss */
.popup-body .popup-box .popup-content form input:focus {
  outline: none;
}
/* line 140, style.scss */
.popup-body .popup-box .popup-content form span {
  color: red;
  font-size: 11px;
  margin-top: -15px;
  display: none;
}
/* line 146, style.scss */
.popup-body .popup-box .popup-content form button {
  display: block;
  margin-top: 20px;
  cursor: pointer;
}
/* line 152, style.scss */
.popup-body .popup-box .popup-content button {
  width: 168px;
  height: 48px;
  background-color: #646464;
  color: #fff;
  text-transform: uppercase;
  font-family: "GothamProBold", sans-serif;
  font-size: 16px;
  border-radius: 18px;
  border: 0;
  display: block;
  margin: 0 auto;
}
/* line 165, style.scss */
.popup-body .popup-box .popup-content .popup-cross {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  color: #000;
  font-size: 36px;
  top: 2px;
  right: 17px;
  cursor: pointer;
}

/* line 178, style.scss */
.top .carousel-item {
  background-color: #000;
}
/* line 180, style.scss */
.top .carousel-item img {
  opacity: 0.5;
}

/* line 185, style.scss */
.sect {
  position: relative;
}

/* line 188, style.scss */
.carousel-caption {
  bottom: 26%;
  text-transform: uppercase;
}
/* line 191, style.scss */
.carousel-caption p {
  width: 400px;
  font-size: 14px;
  margin: 0 auto 34px;
}
/* line 195, style.scss */
.carousel-caption p:first-child {
  font-family: "GothamProBold", sans-serif;
  font-size: 75px;
  width: 100%;
  margin: 0 auto;
}
/* line 202, style.scss */
.carousel-caption .popup-button {
  margin: 0 auto;
  width: 170px;
  height: 50px;
  border: 1px solid #fff;
  border-radius: 18px;
  font-family: "GothamProBold", sans-serif;
  font-size: 16px;
  color: #fff;
  background-color: #646464;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  line-height: 50px;
}
/* line 217, style.scss */
.carousel-caption .popup-button:focus {
  outline: none;
}

/* line 222, style.scss */
.buttonside {
  width: 50px;
  height: 50px;
  position: absolute;
  border: 1px solid #fff;
  border-radius: 50%;
  top: 47%;
  opacity: 1;
  -webkit-transition: all ease 0.7s;
  transition: all ease 0.7s;
}
/* line 231, style.scss */
.buttonside:hover {
  background-color: #fff;
  opacity: 1;
}
/* line 235, style.scss */
.buttonside:hover > span {
  color: #000;
  -webkit-transition: all ease 0.7s;
  transition: all ease 0.7s;
}

/* line 240, style.scss */
.carousel-control-prev {
  left: 6%;
}
/* line 242, style.scss */
.carousel-control-prev span {
  -webkit-transform: scale(2.4, 1.8) translate(-1px, 1px);
          transform: scale(2.4, 1.8) translate(-1px, 1px);
}

/* line 246, style.scss */
.carousel-control-next {
  right: 6%;
}
/* line 248, style.scss */
.carousel-control-next span {
  -webkit-transform: scale(2.4, 1.8) translate(1px, 1px);
          transform: scale(2.4, 1.8) translate(1px, 1px);
}

/* line 253, style.scss */
.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  opacity: 1;
  cursor: pointer;
  border: 1px solid #fff;
  background-color: #fff;
}
/* line 261, style.scss */
.carousel-indicators li.active {
  background-color: #646464;
}

/* line 267, style.scss */
#carouselExampleControls .buttonside {
  border: 1px solid #646464;
  border-radius: 50%;
  top: 47%;
  opacity: 1;
}
/* line 272, style.scss */
#carouselExampleControls .buttonside span {
  color: #646464;
}
/* line 275, style.scss */
#carouselExampleControls .buttonside:hover {
  background-color: #646464;
  opacity: 1;
}
/* line 279, style.scss */
#carouselExampleControls .buttonside:hover > span {
  color: #fff;
}
/* line 283, style.scss */
#carouselExampleControls .tablet-buttons {
  display: none;
  position: relative;
  margin-bottom: 50px;
  text-align: center;
}
/* line 288, style.scss */
#carouselExampleControls .tablet-buttons .centered-buttons {
  width: 140px;
  display: inline-block;
  min-height: 23px;
  position: relative;
  margin-top: 35px;
}
/* line 294, style.scss */
#carouselExampleControls .tablet-buttons .centered-buttons .buttonside-t {
  width: 50px;
  height: 50px;
  position: static;
  border-radius: 50%;
  -webkit-transition: all ease 0.7s;
  transition: all ease 0.7s;
  border: 1px solid #646464;
  opacity: 1;
}
/* line 302, style.scss */
#carouselExampleControls .tablet-buttons .centered-buttons .buttonside-t span {
  color: #646464;
}
/* line 305, style.scss */
#carouselExampleControls .tablet-buttons .centered-buttons .buttonside-t:hover {
  background-color: #646464;
  opacity: 1;
}
/* line 309, style.scss */
#carouselExampleControls .tablet-buttons .centered-buttons .buttonside-t:hover > span {
  color: #fff;
}
/* line 313, style.scss */
#carouselExampleControls .tablet-buttons .centered-buttons .carousel-control-prev {
  float: left;
}
/* line 316, style.scss */
#carouselExampleControls .tablet-buttons .centered-buttons .carousel-control-next {
  float: right;
}

/* line 322, style.scss */
h2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  font-family: "GothamProBold", sans-serif;
  font-size: 24px;
  color: #646464;
  margin: 40px 0 32px;
  position: relative;
}
/* line 331, style.scss */
h2::after {
  content: '';
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #646464;
  bottom: -5px;
  left: 49%;
}

/* line 342, style.scss */
.frame {
  width: 82%;
  margin: 0 auto;
}
/* line 346, style.scss */
.frame .rowmini img {
  height: 17%;
}
/* line 351, style.scss */
.frame .row .colbox {
  color: #646464;
  margin-bottom: 30px;
}
/* line 354, style.scss */
.frame .row .colbox p:first-child {
  font-family: "GothamProBold", sans-serif;
  font-size: 18px;
  margin-bottom: 20px;
}

/* line 362, style.scss */
.maintext {
  width: 725px;
  margin: 0 auto;
}

/* line 366, style.scss */
article {
  margin-bottom: 110px;
}

/* line 369, style.scss */
section {
  color: #646464;
}
/* line 371, style.scss */
section h3 {
  font-family: "GothamProBold", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  margin: 40px 0;
}
/* line 377, style.scss */
section p {
  font-size: 16px;
}
/* line 379, style.scss */
section p strong {
  font-family: "GothamProBold", sans-serif;
  color: #000;
}
/* line 383, style.scss */
section p a:hover {
  color: #545ad8;
}
/* line 386, style.scss */
section p .underlined {
  text-decoration: underline;
}

@-webkit-keyframes hideBurger {
  0% {
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
  5% {
    -webkit-transform: skew(-45deg);
            transform: skew(-45deg);
  }
  100% {
    left: -136px;
  }
}

@keyframes hideBurger {
  0% {
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
  5% {
    -webkit-transform: skew(-45deg);
            transform: skew(-45deg);
  }
  100% {
    left: -136px;
  }
}
@-webkit-keyframes showCross {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(-495deg);
            transform: rotate(-495deg);
    right: 16px;
  }
}
@keyframes showCross {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(-495deg);
            transform: rotate(-495deg);
    right: 16px;
  }
}
@-webkit-keyframes showBurger {
  0% {
    left: -136px;
  }
  67% {
    left: -36px;
    -webkit-transform: skew(-45deg);
            transform: skew(-45deg);
  }
  100% {
    left: 16px;
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
}
@keyframes showBurger {
  0% {
    left: -136px;
  }
  67% {
    left: -36px;
    -webkit-transform: skew(-45deg);
            transform: skew(-45deg);
  }
  100% {
    left: 16px;
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
}
@-webkit-keyframes hideCross {
  0% {
    -webkit-transform: rotate(-495deg);
            transform: rotate(-495deg);
    right: 16px;
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    right: -136px;
  }
}
@keyframes hideCross {
  0% {
    -webkit-transform: rotate(-495deg);
            transform: rotate(-495deg);
    right: 16px;
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    right: -136px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* line 5, _tab.scss */
  .popup-body .popup-box .popup-content p {
    padding-top: 40px;
    margin-bottom: 45px;
  }
  /* line 9, _tab.scss */
  .popup-body .popup-box .popup-content form {
    display: block;
    margin-top: 45px;
  }
  /* line 12, _tab.scss */
  .popup-body .popup-box .popup-content form input {
    text-align: center;
    margin: 0 auto 18px;
  }
  /* line 17, _tab.scss */
  .popup-body .popup-box .popup-content button {
    display: none;
  }

  /* line 23, _tab.scss */
  .top {
    padding-top: 80px;
  }

  /* line 27, _tab.scss */
  h2::after {
    left: 48.7%;
  }

  /* line 31, _tab.scss */
  .carousel-caption {
    bottom: 20%;
  }
  /* line 34, _tab.scss */
  .carousel-caption p:first-child {
    margin: 290px auto 0;
    font-size: 45px;
  }

  /* line 40, _tab.scss */
  .frame {
    width: 100%;
  }

  /* line 44, _tab.scss */
  #carouselExampleControls .buttonside {
    display: none;
  }
  /* line 47, _tab.scss */
  #carouselExampleControls .tablet-buttons {
    display: block;
  }

  /* line 51, _tab.scss */
  .maintext {
    width: 670px;
  }
}
@media screen and (min-width: 481px) and (max-width: 767px) {
  /* line 2, _mob.scss */
  nav {
    height: 64px;
    width: 100%;
  }
  /* line 5, _mob.scss */
  nav .burger-button {
    width: 18px;
    height: 18px;
    top: 23px;
    left: 16px;
    display: block;
  }
  /* line 11, _mob.scss */
  nav .burger-button .burger-part {
    border: 2px solid #000;
    height: 10px;
    border-left: 0;
    border-right: 0;
  }
  /* line 16, _mob.scss */
  nav .burger-button .burger-part:last-child {
    border-top: 0;
    height: 8px;
  }
  /* line 22, _mob.scss */
  nav .logo-box {
    padding: 5px 0;
    width: 100%;
  }
  /* line 25, _mob.scss */
  nav .logo-box .image-box {
    display: block;
    text-align: center;
  }
  /* line 29, _mob.scss */
  nav .logo-box span {
    display: none;
    text-align: center;
    margin: 8px 0 0;
    -webkit-transition: all ease 0.7s;
    transition: all ease 0.7s;
  }
  /* line 36, _mob.scss */
  nav ul {
    float: none;
    margin-top: 10px;
    line-height: 20px;
    position: relative;
    text-align: center;
    display: none;
    -webkit-transition: all ease 0.7s;
    transition: all ease 0.7s;
  }
  /* line 44, _mob.scss */
  nav ul li {
    text-align: center;
    margin: 0 10px;
  }
  /* line 47, _mob.scss */
  nav ul li:last-child {
    margin-right: 10px;
  }

  /* line 54, _mob.scss */
  .popup-body .popup-box {
    width: 480px;
  }
  /* line 57, _mob.scss */
  .popup-body .popup-box .popup-content p {
    padding-top: 40px;
    margin-bottom: 45px;
  }
  /* line 61, _mob.scss */
  .popup-body .popup-box .popup-content form {
    display: block;
    margin-top: 45px;
  }
  /* line 64, _mob.scss */
  .popup-body .popup-box .popup-content form input {
    text-align: center;
    margin: 0 auto 18px;
  }
  /* line 69, _mob.scss */
  .popup-body .popup-box .popup-content button {
    display: none;
  }

  /* line 75, _mob.scss */
  .top {
    padding-top: 64px;
  }

  /* line 78, _mob.scss */
  .carousel-caption {
    bottom: 15%;
  }
  /* line 80, _mob.scss */
  .carousel-caption p {
    width: 330px;
    font-size: 12px;
    margin: 0 auto 14px;
  }
  /* line 84, _mob.scss */
  .carousel-caption p:first-child {
    font-size: 30px;
    margin: 4px auto 0;
  }

  /* line 91, _mob.scss */
  #carouselExampleControls .container {
    max-width: 660px;
  }
  /* line 93, _mob.scss */
  #carouselExampleControls .container .frame {
    width: 100%;
  }
  /* line 97, _mob.scss */
  #carouselExampleControls .buttonside {
    display: none;
  }
  /* line 100, _mob.scss */
  #carouselExampleControls .tablet-buttons {
    display: block;
  }

  /* line 105, _mob.scss */
  h2::after {
    left: 48%;
  }

  /* line 109, _mob.scss */
  .maintext {
    width: 98%;
  }

  /* line 112, _mob.scss */
  article {
    margin-bottom: 70px;
  }
}
@media screen and (min-width: 321px) and (max-width: 480px) {
  /* line 117, _mob.scss */
  nav {
    height: 64px;
  }
  /* line 119, _mob.scss */
  nav .burger-button {
    width: 15px;
    height: 13px;
    top: 24px;
    left: 16px;
    display: block;
  }
  /* line 125, _mob.scss */
  nav .burger-button .burger-part {
    border: 1px solid #000;
    height: 7px;
    border-left: 0;
    border-right: 0;
  }
  /* line 130, _mob.scss */
  nav .burger-button .burger-part:last-child {
    border-top: 0;
    height: 6px;
  }
  /* line 136, _mob.scss */
  nav .logo-box {
    padding: 5px 0;
    width: 100%;
  }
  /* line 139, _mob.scss */
  nav .logo-box .image-box {
    display: block;
    text-align: center;
  }
  /* line 143, _mob.scss */
  nav .logo-box span {
    display: none;
    text-align: center;
    margin: 12px 0 0;
    -webkit-transition: all ease 0.7s;
    transition: all ease 0.7s;
  }
  /* line 150, _mob.scss */
  nav .cross-button {
    font-size: 38px;
    top: 4px;
  }
  /* line 154, _mob.scss */
  nav ul {
    float: none;
    margin-top: 80px;
    line-height: 40px;
    position: relative;
    text-align: center;
    display: none;
    -webkit-transition: all ease 0.7s;
    transition: all ease 0.7s;
  }
  /* line 162, _mob.scss */
  nav ul li {
    text-align: center;
    margin: 0 10px;
  }
  /* line 165, _mob.scss */
  nav ul li:last-child {
    margin-right: 10px;
  }

  /* line 172, _mob.scss */
  .popup-body .popup-box {
    width: 100%;
  }
  /* line 175, _mob.scss */
  .popup-body .popup-box .popup-content p {
    padding-top: 40px;
    margin-bottom: 45px;
  }
  /* line 179, _mob.scss */
  .popup-body .popup-box .popup-content form {
    display: block;
    margin-top: 45px;
  }
  /* line 182, _mob.scss */
  .popup-body .popup-box .popup-content form input {
    text-align: center;
    margin: 0 auto 18px;
    width: 94%;
  }
  /* line 188, _mob.scss */
  .popup-body .popup-box .popup-content button {
    display: none;
  }

  /* line 194, _mob.scss */
  .top {
    padding-top: 64px;
  }
  /* line 196, _mob.scss */
  .top .carousel-item {
    overflow: hidden;
  }
  /* line 198, _mob.scss */
  .top .carousel-item img {
    min-height: 460px;
    min-width: 818px;
    position: relative;
    left: -70vw;
  }

  /* line 206, _mob.scss */
  .carousel-caption {
    bottom: 15%;
  }
  /* line 208, _mob.scss */
  .carousel-caption p {
    width: 230px;
    font-size: 12px;
    margin: 0 auto 14px;
  }
  /* line 212, _mob.scss */
  .carousel-caption p:first-child {
    font-size: 25px;
    margin: 34px auto 0;
  }
  /* line 217, _mob.scss */
  .carousel-caption .popup-button {
    font-size: 16px;
  }

  /* line 222, _mob.scss */
  #carouselExampleControls .buttonside {
    display: none;
  }
  /* line 225, _mob.scss */
  #carouselExampleControls .tablet-buttons {
    display: block;
  }

  /* line 230, _mob.scss */
  h2::after {
    left: 45%;
  }

  /* line 235, _mob.scss */
  .rowmini img {
    max-width: 99% !important;
    display: none;
  }

  /* line 243, _mob.scss */
  #carouselExampleControls .carousel-item:first-child .rowmini img:first-child {
    display: block;
  }
  /* line 250, _mob.scss */
  #carouselExampleControls .carousel-item:nth-child(2) .rowmini img:nth-child(2) {
    display: block;
  }
  /* line 257, _mob.scss */
  #carouselExampleControls .carousel-item:last-child .rowmini img:last-child {
    display: block;
  }
  /* line 262, _mob.scss */
  #carouselExampleControls .tablet-buttons {
    margin-bottom: 20px;
  }

  /* line 266, _mob.scss */
  .maintext {
    width: 98%;
  }

  /* line 269, _mob.scss */
  .articles {
    margin-bottom: 70px;
  }

  /* line 272, _mob.scss */
  section {
    color: #000;
  }
  /* line 274, _mob.scss */
  section h3 {
    font-size: 14px;
    margin: 35px 0;
  }
  /* line 278, _mob.scss */
  section p {
    font-size: 14px;
  }
}
@media screen and (max-width: 320px) {
  /* line 284, _mob.scss */
  nav {
    height: 64px;
  }
  /* line 286, _mob.scss */
  nav .burger-button {
    width: 15px;
    height: 13px;
    top: 24px;
    left: 16px;
    display: block;
  }
  /* line 292, _mob.scss */
  nav .burger-button .burger-part {
    border: 1px solid #000;
    height: 7px;
    border-left: 0;
    border-right: 0;
  }
  /* line 297, _mob.scss */
  nav .burger-button .burger-part:last-child {
    border-top: 0;
    height: 6px;
  }
  /* line 303, _mob.scss */
  nav .logo-box {
    padding: 5px 0;
    width: 100%;
  }
  /* line 306, _mob.scss */
  nav .logo-box .image-box {
    display: block;
    text-align: center;
  }
  /* line 310, _mob.scss */
  nav .logo-box span {
    display: none;
    text-align: center;
    margin: 12px 0 0;
    -webkit-transition: all ease 0.7s;
    transition: all ease 0.7s;
  }
  /* line 317, _mob.scss */
  nav .cross-button {
    font-size: 38px;
    top: 4px;
  }
  /* line 321, _mob.scss */
  nav ul {
    float: none;
    margin-top: 80px;
    line-height: 40px;
    position: relative;
    text-align: center;
    display: none;
    -webkit-transition: all ease 0.7s;
    transition: all ease 0.7s;
  }
  /* line 329, _mob.scss */
  nav ul li {
    text-align: center;
    margin: 0 10px;
  }
  /* line 332, _mob.scss */
  nav ul li:last-child {
    margin-right: 10px;
  }

  /* line 339, _mob.scss */
  .popup-body .popup-box {
    width: 100%;
  }
  /* line 342, _mob.scss */
  .popup-body .popup-box .popup-content p {
    padding-top: 40px;
    margin-bottom: 45px;
  }
  /* line 346, _mob.scss */
  .popup-body .popup-box .popup-content form {
    display: block;
    margin-top: 45px;
  }
  /* line 349, _mob.scss */
  .popup-body .popup-box .popup-content form input {
    text-align: center;
    margin: 0 auto 18px;
    width: 94%;
  }
  /* line 355, _mob.scss */
  .popup-body .popup-box .popup-content button {
    display: none;
  }

  /* line 361, _mob.scss */
  .top {
    padding-top: 64px;
  }
  /* line 363, _mob.scss */
  .top .carousel-item {
    overflow: hidden;
  }
  /* line 365, _mob.scss */
  .top .carousel-item img {
    min-height: 460px;
    min-width: 818px;
    position: relative;
    left: -70vw;
  }

  /* line 373, _mob.scss */
  .carousel-caption {
    right: 10%;
    left: 10%;
    bottom: 25%;
  }
  /* line 377, _mob.scss */
  .carousel-caption p {
    width: 215px;
    font-size: 12px;
    margin: 0 auto 14px;
  }
  /* line 381, _mob.scss */
  .carousel-caption p:first-child {
    font-size: 25px;
    margin: 34px auto 0;
  }
  /* line 386, _mob.scss */
  .carousel-caption .popup-button {
    font-size: 16px;
  }

  /* line 390, _mob.scss */
  .buttonside {
    display: none;
  }

  /* line 394, _mob.scss */
  h2::after {
    left: 44%;
  }

  /* line 399, _mob.scss */
  .rowmini img {
    max-width: 99% !important;
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 99.99% !important;
            flex: 0 0 99.99% !important;
    display: none;
  }

  /* line 408, _mob.scss */
  #carouselExampleControls .carousel-item:first-child .rowmini img:first-child {
    display: block;
  }
  /* line 415, _mob.scss */
  #carouselExampleControls .carousel-item:nth-child(2) .rowmini img:nth-child(2) {
    display: block;
  }
  /* line 422, _mob.scss */
  #carouselExampleControls .carousel-item:last-child .rowmini img:last-child {
    display: block;
  }
  /* line 427, _mob.scss */
  #carouselExampleControls .tablet-buttons {
    margin-bottom: 20px;
  }

  /* line 431, _mob.scss */
  .maintext {
    width: 98%;
  }

  /* line 434, _mob.scss */
  .articles {
    margin-bottom: 70px;
  }

  /* line 437, _mob.scss */
  section {
    color: #000;
  }
  /* line 439, _mob.scss */
  section h3 {
    font-size: 14px;
    margin: 35px 0;
  }
  /* line 443, _mob.scss */
  section p {
    font-size: 14px;
  }
}
